.dropdown {
  $neutral-color: #f9f9f9;
  $hover-color: #e2e2e2;
  $shadow-color: rgba(0,0,0,0.2);
  $default-shadow: 0 0 .2em $shadow-color;
  $dropdown-size: 640px;

  @media only screen and (max-width: $dropdown-size) {
    width: 100vw;
  }

  @media only screen and (min-width: $dropdown-size) {
    width: $dropdown-size;
  }

  @mixin button-style() {
    @include remove-default();
    background-color: $neutral-color;
    text-align: left;
    padding: .5em;
  }

  .search {
    width: inherit;
    display: flex;
    flex-direction: row;
    box-shadow: $default-shadow;

    input {
      @include button-style();
      width: 90%;
    }

    input:hover, input:focus {
      box-shadow: 0 0 .4em $shadow-color;
      outline: none;
    }
  
    button {
      @include button-style();
      width: 10%;
    }
  }

  .results {
    @include remove-default();
    @include move-element-to-front();
    width: inherit;
    list-style-type: none;
    box-shadow: $default-shadow;

    li {
      @include remove-default();
      width: inherit;
    }

    button {
      @include button-style();
      width: inherit;
    }
  
    button:hover, button:focus {
      background-color: $hover-color;
      outline: none;
      width: inherit;
    }
  }

}