@inject HttpClient Http
@inject AppState State

<div class="search">
    <img class="logo" src="images/logo.png"/>
    <Dropdown results=State.SearchResults OnChange=State.Search OnSelect=State.SetSelectedResult />
    @if (State.SelectedResult != null) {
        <p>@State.SelectedResult.Label - @State.SelectedResult.Value</p>
    }
</div>

@functions
{
    protected override void OnInit()
    {
        State.OnChange += StateHasChanged;
    }
}
