<div class="dropdown">
    <!--- 
        TODO: autoFocus as param 
        TODO: Invoke OnChange for oninput or onkeydown events which are not supported. Only onkeypress is :(.
    -->
    <div class="search">
        <input @bind(query) autoFocus="true" />
        <button class="search" @onclick(() => OnChange(query))>Search</button> 
    </div>    
    @if (results != null && results.Count() > 0) 
    {
        <ul class="results">
            @foreach (var result in results)
            {
                <li><button @onclick(() => ClearAndSelect(result))>@result.Label</button></li>
            }
        </ul>
    }
</div>

@functions
{
    public Func<string, Task> OnChange { get; set; }
    public Func<SearchResult, Task> OnSelect { get; set; }
    public SearchResult[] results { get; set; }
    private string query = string.Empty;

    void ClearAndSelect(SearchResult result) {
        query = result.Label;
        OnSelect(result);
    }
}
